
body {
    background-color: #000000;
    color: #333333;
}

.active {
    color: #FFFFFF;
}

html, body {
    margin: 0;
    padding: 0;
    width: 1280px;
    height: 720px;
    text-align: center;
    vertical-align: middle;
}

.mono {
    font-family: monospace;
    font-size: 48px;
}

#clock {
    margin-top: 23px;
    vertical-align: middle;
}