body {
  background-color: #000000;
  color: #333333;
}
.active {
  color: #FFFFFF;
}
.animate {
  -webkit-transition: 2s linear;
  -moz-transition: 2s linear;
  -ms-transition: 2s linear;
  -o-transition: 2s linear;
  transition: 2s linear;
}
#clock {
  position: absolute;
  left: 0;
  top: 0;
}
#clock p {
  width: 1280px;
  height: 720px;
  display: table-cell;
  vertical-align: middle;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 1280px;
  height: 720px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.mono {
  font-family: monospace;
  font-size: 52px;
}
.message {
  overflow-y: hidden;
  position: absolute;
  top: 720px;
}
.message.left {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  left: 0;
}
.message.right {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -o-transform-origin: top right;
  right: 0;
}
.message p {
  display: table-cell;
  vertical-align: middle;
  height: 250px;
  width: 720px;
  font-family: sans-serif;
  font-size: 100px;
}
.animate-hide {
  -webkit-transition: 2s linear;
  -moz-transition: 2s linear;
  -ms-transition: 2s linear;
  -o-transition: 2s linear;
  transition: 2s linear;
  opacity: 0;
}
.animate-show {
  -webkit-transition: 2s linear;
  -moz-transition: 2s linear;
  -ms-transition: 2s linear;
  -o-transition: 2s linear;
  transition: 2s linear;
  opacity: 1;
}
