
body {
  background-color: #000000;
  color: #333333;
}

.active {
  color: #FFFFFF;
}
@margin: 23px;
@width: 1280px;
@height: 720px;
@message-width: 250px;

.animate(@duration, @easing) {
  -webkit-transition: @duration @easing;
  -moz-transition: @duration @easing;
  -ms-transition: @duration @easing;
  -o-transition: @duration @easing;
  transition: @duration @easing;
}

.transform(@action) {
  -webkit-transform: @action;
  -moz-transform: @action;
  -o-transform: @action;
  transform: @action;
}

.transform-origin(@origin) {
  -webkit-transform-origin: @origin;
  -moz-transform-origin: @origin;
  -o-transform-origin: @origin;
  transform-origin: @origin;
}

.rotate(@degrees) {
  .transform(rotate(@degrees));
}

#clock {
  position: absolute;
  left: 0;
  top: 0;
  p {
    width: @width;
    height: @height;
    display: table-cell;
    vertical-align: middle;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: @width;
  height: @height;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.mono {
  font-family: monospace;
  font-size: 52px;
}

.message {
  overflow-y: hidden;
  position: absolute;
  top: @height;

  &.left {
    .rotate(-90deg);
    .transform-origin(top left);
    left: 0;
  }

  &.right {
    .rotate(90deg);
    .transform-origin(top right);
    right: 0;
  }

  p {
    display: table-cell;
    vertical-align: middle;
    height: @message-width;
    width: @height;
    font-family: sans-serif;
    font-size: 120px;
  }
}

.animate-hide {
  .animate(3s, ease-in);
  opacity: 0;
}

.animate-show {
  .animate(1s, ease-out);
  opacity: 1;
}